
body {
    color: rgb(220, 109, 109);
    border: 2px;
    border-color: rgb(220, 109, 109);
    border-style: solid;
    padding: 40px 0px 50px;
    margin: 10px;
    text-align: center;
    width: 330px;
    
}

img {
    width: 100px;
    border-radius: 50px;
    border: 2px;
    border-style: solid;
    border-color: rgb(220, 109, 109);
}